/* for border */
.first-bucket {
    border: 15px solid red;
    outline: 5px solid black;
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 60px;
    word-wrap: break-word;
}

.second-bucket{
    background-color: pink;
    padding: 20px 10px 5px 50px ;
    margin: 30px;
    width: 200px;
    height: 200px;
    overflow: auto;
    overflow-x: hidden;
}

.list >li{
    display: block;
}

.img{
    height: 200px;
    width: 200px;
    /* opacity: 1; */
    /* filter: blur(5px); */
    /* filter: grayscale(100%); */
    filter: contrast(100%);
    filter: drop-shadow(15px 17px 18px blue);
}